.parceiros-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    color: var(--cor-5);
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 2rem;
}
.parceiros-grid div{
    padding: 1.5rem;
}
@media (max-width: 700px){
    .parceiros-grid{
        grid-template-columns: 1fr 1fr;
        padding-bottom: 1rem;
    }
}